[submodule "externals/solidity"]
	path = externals/solidity
	url = https://github.com/ethereum/solidity.git
[submodule "sources/openzeppelin"]
	path = sources/openzeppelin
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
